body {
    background-color: #424242;
}
#paknanang {
    width: 25%;
    height: 25%;
}

/*
Yoinked from W3School
*/

ul.topnav {
    list-style-type: none;
    margin: 0px 0px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Red Hat Display", serif;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #a93b0c;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right  , 
    ul.topnav li {float: none;}
  }
  
  .content {
    margin-left: 10%;
    font-family: "Red Hat Display", serif;
    color: #ffffff;
  }
  